.div(layout='row')
  .form-container(layout='column' layout-align-sm='center')
    .list-title Departments Management
    //- p.mdl-layout-title List of users
    span(flex='5')
    form(name='departmentForm', novalidate='', layout-padding='')
      button.fa.fa-plus-circle.fa-4x.newFormBtn(ng-click='toggleForm()') Add Department
      
      br
      div.formElements(ng-show='toggle')
        md-input-container(flex='')
          label Name
          input(type='text', ng-model='newDepartment.name')
        md-input-container(flex='')
          label Description
          textarea(ng-model='newDepartment.description')
        br
        button.fa.fa-check-circle-o.saveFormBtn(ng-click='save()')  Save
        button.fa.fa-times-circle-o.cancelFormBtn(ng-click='cancel()')  Cancel
      br
      span(flex='20')
      i.fa.fa-search
      input#search(type='search', ng-model='search', name='search', placeholder='search')
      i.fa.fa-times(ng-show="departmentForm.search.$dirty" ng-click="search='';" style="cursor:pointer")
      br
      br
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.departmentTable(align='left')
      thead
        tr
         td(colspan='5') Total number of departments: {{departmentsCount.count}} 
        tr
          th Sn.No
          th
            a(href='#', ng-click="sortType = 'name'; sortReverse = !sortReverse") Name
              md-tooltip(md-direction='top') Sort By Name
            span.fa.fa-sort-asc(ng-show="sortType == 'name' && !sortReverse")
            span.fa.fa-sort-desc(ng-show="sortType == 'name' && sortReverse")
          th Description
          th Options
      tbody
        tr(dir-paginate='department in departments | itemsPerPage: perPage |  orderBy:sortType:sortReverse', total-items='departmentsCount.count',  current-page='page')
         td {{$index+1}}
         td {{department.name}}
         td {{department.description}}
         td 
          a(ng-href='/departments/{{department._id}}')
            i.fa.fa-pencil-square-o.fa-2x | 
              md-tooltip(md-direction='left') Edit
          i.fa.fa-trash-o.fa-2x.removeBtn(ng-click='showConfirm($event,department._id)')
            md-tooltip(md-direction='bottom') Remove
        
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')
