.profileIcon
  width:40px
  height:40px
  border-radius:50%

.userbar
  width:15%

.userbar p
  padding:2px
  margin:0 0 2px 

.md-toolbar
  background:black

.logo
  font-size:14px
  text-align:center

.menu-headers
  line-height:40px
  transition: all 0.3s ease 0s
  font-size:18px
  box-shadow:9px 0 0 2px #0C98CF
  font-weight: bold
  color:white
  background:#0C98CF
  text-align:center

.adminToolbar
  background: black

.adminToolbar .menu-item
  text-decoration:none
  background: black
  transition: all 0.3s ease 0s
  padding:5px
  margin:5px
  text-align:center
  line-height:30px
  color: white

.adminToolbar .menu-item:hover
  background: #59B5DA
  transition: all 0.3s ease 0s

.adminToolbar span
  font-size:20px
  font-weight:bold
  padding:2px
  text-align:center
  line-height:40px
  color:white
  background:black

.profileImage
  border-radius:50%
  text-align:center
  border:0
  width:60px
  height:60px

.profileDiv
  text-align:center
  margin-bottom:10px
  margin-left:5px

.profileDiv p
  color:white
  padding: 10px 5px

.logoutBtn
  transition: all 0.3s ease 0s
  color:white
  padding:10px 5px
  text-decoration:none

.logoutBtn:hover
  color:red

