.signup-btn
  background: #00B796
  color: #fff
  font-family: Sans-serif
  font-size: 20px
  width: 100%
  line-height: 60px
  text-align: center
  border: 0
  transition: all 0.3s ease 0s
  margin:auto

.signup-btn:hover
  background: #2B9D4E

.loginText
  background:black
  color:white
  font-size:20px
  text-align:center
  line-height:40px
  padding:5px

.signupForm
  width:40%
  background: #ffff
  margin:9% auto 0 auto

.inputAreaSignup
  width:100%
  padding:5%