.userActionContainer
  width:42%
  margin:10% auto
  padding:0 2% 1%

.leaveRequestFormContainer
  width:42%
  margin:10% auto
  padding:0 3% 1%  

.userActionCard
  width:35%
  border-radius:50%
  padding:7%
  margin:2%

.userActionCard:hover
  width:35%
  border-radius:50%
  box-shadow: 0px 0px 8px 1px #5D799A

.card-h1
  font-size:24px
  text-align:center
  line-height:40px
  background:rgba(103, 58, 183, 0.71)
  margin-bottom:1%
  color: white

.userActionCard p
  color:black
  line-height:35px

a.cardIcons
  color:#9FA8B1

a.cardIcons:hover
  color:#295480

.timesheetFormContainer
  margin:10% auto
  width:42%
  padding: 0 3%

.timesheetFormContainer table
  width:100%

.timesheetFormContainer th
  text-align:center
  width:100px

.addRowBtn , .removeRowBtn
  background: #428BCA
  color: #fff
  text-align: center
  border: 0
  transition: all 0.3s ease 0s

.submitBtns
  background: #428BCA
  color: #fff
  text-align: center
  border: 0
  transition: all 0.3s ease 0
  border-radius:10%
  margin:5px
  width:10%

.removeBtn
  text-align: center
  border: 0

.removeBtn:hover
  color:red

.addRowBtn:hover
  background:#2E9E51

.removeRowBtn:hover
  background: red

.submitBtns:hover
  background:blue !important

