.userActionContainer.md-whiteframe-z1
  p.card-h1 User Dashboard
  div(layout='row', layout-align='space-between center')
    .userActionCard.md-whiteframe-z1
      div(layout='column',layout-align='center center')
        a.fa.fa-calendar.fa-5x.cardIcons(href='/timesheet')
        p Add Time Sheet
    .userActionCard.md-whiteframe-z1
      div(layout='column',layout-align='center center')
        a.fa.fa-calendar-times-o.fa-5x.cardIcons(href='/add-leave-request')
        p Add Leave

