.login-wrapper
  .loginForm.md-whiteframe-24dp(layout='column')
    .loginBanner
      img(src='banner.jpg' width='100%' height='150')
    div.inputArea
      .md-warn(ng-show='error')
          small {{ error }}
      div(layout='row', layout-align='center center')
        i.fa.fa-envelope.fa-2x
        md-input-container.md-block.md-input-has-placeholder(md-no-float='', flex='')
          label Email
          input(ng-model='credentials.email', type='email', ng-required='true', name='input')
      span(layout='row', layout-align='space-between center')
        a.reg-terms-text(href='/login') Registered Already?
        a.reg-terms-text(href='/signup') Not registered yet?
      button.login-btn(ng-click='forgotPwd()')
        i.fa.fa-unlock-alt
        | Reset Password