.loginForm.md-whiteframe-24dp(layout='column')
    p.loginText Enter New Password
    form.md-whiteframe-z1(name='form', layout-padding='')
      md-input-container
        label Password
        input(type='password',ng-model='newPassword')
      br    
      div(layout='row')
        md-button(ng-click='resetPassword()') Reset
        md-button(ng-href='employees') Cancel