

.activateBtn
  background: #0c98cf
  color: #fff
  font-family: Sans-serif
  font-size: 14px
  line-height: 30px
  text-align: center
  border: 0
  margin:auto
  width:45%

.deactivateBtn
  background: #0c98cf
  color: #fff
  font-family: Sans-serif
  font-size: 14px
  line-height: 30px
  text-align: center
  border: 0
  margin:auto
  width:43%

.deactivateBtn:hover
  background:red

.activateBtn:hover
  background:#2E9E51